<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
              
              <!-- Content -->
              <h5> consomi690.com </h5>
              <p> This work is under MIT licence</p>
              <p> You can find the source code here. </p>
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase"> للتواصل </h5>
      
              <ul class="list-unstyled">
                <li>
                  <img src=""/><fa-icon [icon]="['fab', 'stack-overflow']"></fa-icon>
                </li>
                <li>
                  <img src=""/> <a href="">Messenger</a>
                </li>
                <li>
                    <i class="material-icons">
                    </i> balty.houssem@gmail.com
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">consommi690</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">من نحن</a>
                </li>
                <li>
                  <a href="#!">شارك</a>
                </li>
                <li>
                  <a href="#!">توقيع الميثاق</a>
                </li>
              </ul>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
          <a href="https://mdbootstrap.com/education/bootstrap/"> consomi690.com</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->