<div style="margin-top:10vh" class="row">
    <div class="col-5">
        <signform></signform>
    </div>
    <div class="col-5 agreement"> 
        <h1> ميثاق المستهلك الواعي </h1>
        <img style="max-width:150px;" src="../../assets/codeabar.jpg"/>
        <table >
            <tr>   
                <td> يختار المنتوج التونسي على المنتوجات المستوردة للمساهمة في إنعاش إقتصاد بلادو وينقص من تبعية تونس للمنتوجات الأجنبية. </td>
                <td><img style="max-width:30px;" src="../../assets/check.png"/></td>
            </tr> 
            <tr>   
                <td>مقاطعة كل منتوج متوفر في الاسواق يشهد ارتفاع مشط للمساهمة في تخفيض الأسعار و تحسين القدرة الشرائية للمواطن وترسيخ ثقافة المقاطعة. </td>
                <td><img style="max-width:30px;" src="../../assets/check.png"/></td>
            </tr>
            <tr>   
                <td>التبليغ على التجاوزات إلي تنجم تكون من طرف الموزعين المنتجين للمصالح المختصة ومنظمات الدفاع عن المستهلك. مثال للمخالفات :  ترفيع أسعار المواد المسعرة بالقانون.  </td>
                <td><img style="max-width:30px;" src="../../assets/check.png"/></td>
            </tr>
            <tr>   
                <td>مقاطعة السوق الموازية التي تنهش من إقتصاد البلاد في مصلحة أشخاص. </td>
                <td><img style="max-width:30px;" src="../../assets/check.png"/></td>
            </tr>
        </table>
    </div>
</div> 
<footer-ss></footer-ss>