<div style="width: 100%; margin-bottom: 3rem; ; background-color: #454547">
     <p style="color:white; text-align: right; padding: 1em 4em 1em 4em">
            الهدف من هذه المبادرة توعية المستهلك التونسي للمحافظة على جودة المنتوجات التونسية وذلك بالقيام بدوره الرقابي. منصة إستهلك تونسي تنوي تطوير الموقع لمراقبة تطورات المنتوج من ناحية السعر والجودة. الخطوة الأولى لإنجاز هذا المشروع هو تكوين مجموعة من الشباب جاهزة للمشاركة في نشر و العمل على تطوير هذه المنصة. 
     </p>
</div>
<div style="max-width:70%; text-align:center; margin-left: auto;margin-right: auto">
    <app-contribute-form></app-contribute-form>
</div>